<!-- Main navbar -->
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
    <div class="container">
        <%= link_to image_tag("white.png", height: '50', alt: "white"), root_path, class: 'navbar-brand mr-lg-5' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">

                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <%= link_to contrats_mutuelle_path, class:"nav-link" do %>
                        <span class="btn-inner--visible">Mutuel Santé</span>
                        <span class="btn-inner--hidden"><i class="fas fa-arrow-down"></i></span>
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-arrow py-0">
                        <div class="row">
                            <div class="col list-group">
                                <!-- PAR PROFILS -->
                                <div class="list-group-item list-group-item-action bg-light"%>
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Par profils</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- ETUDIANTS -->
                                <%= link_to contrats_etudiants_path, class:"list-group-item list-group-item-action bg-light" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("computer.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Etudiants</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- INDIVIDUEL -->
                                <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action bg-light" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("person.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Individuel</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- FAMILIALE -->
                                <%= link_to contrats_familiale_path, class:"list-group-item list-group-item-action bg-light" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("persons.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Familiale</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- SENIORS -->
                                <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action bg-light" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("security.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Séniors (60 ans et +)</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="col list-group">
                                <!-- PAR SOINS -->
                                <div class="list-group-item list-group-item-action"%>
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Par soins</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- DENTAIRES -->
                                <%= link_to contrats_dentaire_path, class:"list-group-item list-group-item-action" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("dentist.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Soins dentaires</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- OPTIQUES -->
                                <%= link_to contrats_optique_path, class:"list-group-item list-group-item-action" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("sunglasses.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Soins optiques</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- AUDITIFS -->
                                <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("ear.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Soins auditifs</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- COURANTS ET HOSPITALIERS -->
                                <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("doctor.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Soins courants et hospitaliers</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                                <!-- MEDECINES DOUCES -->
                                <%= link_to contrats_medecinedouce_path, class:"list-group-item list-group-item-action" do %>
                                    <div class="media d-flex align-items-center">
                                        <%= image_tag("joint.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Médecine douces</h6>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                        <div class="list-group">
                            <a href="./pages/pages-landing.html" class="list-group-item list-group-item-action">
                                <div class="media d-flex align-items-center">
                                    <img alt="Image placeholder" src="./assets/img/icons/dusk/svg/browser-window.svg" class="img-saturate" style="width: 50px;">
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Landing Pages</h6>
                                        <p class="mb-0">A great point to start from.</p>
                                    </div>
                                </div>
                            </a>
                            <a href="./pages/pages-secondary.html" class="list-group-item list-group-item-action">
                                <div class="media d-flex align-items-center">
                                    <img alt="Image placeholder" src="./assets/img/icons/dusk/svg/ios-photos.svg" class="img-saturate" style="width: 50px;">
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Secondary Pages</h6>
                                        <p class="mb-0">Build your website with these demos.</p>
                                    </div>
                                </div>
                            </a>
                            <a href="./pages/pages-account.html" class="list-group-item list-group-item-action">
                                <div class="media d-flex align-items-center">
                                    <img alt="Image placeholder" src="./assets/img/icons/dusk/svg/maintenance.svg" class="img-saturate" style="width: 50px;">
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Account Pages</h6>
                                        <p class="mb-0">Account management made easy.</p>
                                    </div>
                                </div>
                            </a>
                            <a href="./pages/pages-shop.html" class="list-group-item list-group-item-action">
                                <div class="media d-flex align-items-center">
                                    <img alt="Image placeholder" src="./assets/img/icons/dusk/svg/in-progress.svg" class="img-saturate" style="width: 50px;">
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Shop Pages</h6>
                                        <p class="mb-0">Explore the full ecommerce website flow.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <%= link_to root_path, class:"btn btn-primary btn-animated btn-animated-x" do %>
                        <span class="btn-inner--visible">Assurance Prévoyance</span>
                        <span class="btn-inner--hidden"><i class="fas fa-arrow-down"></i></span>
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                        <div class="list-group">
                            <%= link_to root_path, class:"list-group-item list-group-item-action" do %>
                                <div class="media d-flex align-items-center">
                                    <%= image_tag("death.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Assurance décès</h6>
                                        <p class="mb-0">Terminus, tout le monde descend</p>
                                    </div>
                                </div>
                            <% end %>
                            <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action" do %>
                                <div class="media d-flex align-items-center">
                                    <%= image_tag("funeral.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Assurance obsèque</h6>
                                        <p class="mb-0">Pour un long voyage, mieux vos avoir de la place aux genoux</p>
                                    </div>
                                </div>
                            <% end %>
                            <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action" do %>
                                <div class="media d-flex align-items-center">
                                    <%= image_tag("healthcare.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Assurance vie</h6>
                                        <p class="mb-0">Pour les dur de la feuille</p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <%= link_to root_path, class:"btn btn-primary btn-animated btn-animated-x" do %>
                        <span class="btn-inner--visible">Professionnels</span>
                        <span class="btn-inner--hidden"><i class="fas fa-arrow-down"></i></span>
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                        <div class="list-group">
                            <%= link_to root_path, class:"list-group-item list-group-item-action" do %>
                                <div class="media d-flex align-items-center">
                                    <%= image_tag("craftsman.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Artisants indépendants</h6>
                                        <p class="mb-0">Tout seul</p>
                                    </div>
                                </div>
                            <% end %>
                            <%= link_to contrats_senior_path, class:"list-group-item list-group-item-action" do %>
                                <div class="media d-flex align-items-center">
                                    <%= image_tag("man.svg", width: '50', alt: "Image placeholder", class: "img-saturate") %>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-1">Professions libérales</h6>
                                        <p class="mb-0">Blablablabla</p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </li>
                
                
            </ul>
        </div>

    </div>
</nav>
<!-- Main navbar -->