<!-- Main navbar -->
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
	<div class="container">
		<!-- LOGO WITH CSS -->
		<%= link_to root_path do %>
			<div class='navbar-brand'>
			</div>
		<% end %>
		<!-- LOGO WITH CSS -->

		<!-- BURGER BUTTON FOR RESPONSIVE -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- BURGER BUTTON FOR RESPONSIVE -->

		<!-- RIGHT SIDE OF NAVBAR WITH SLOGGANT -->
		<div class="w-100">
			<div class="d-flex justify-content-center">
				<h2><em>une assurance à échelle humaine</em></h2>
			</div>

			<div>
				<!-- navbar-collapse.// -->
				<div class="collapse navbar-collapse" id="navbar-main-collapse">		
					<ul class="navbar-nav flip-dropdown-menu w-75 d-flex justify-content-between mx-auto ">

						<li class="nav-item dropdown flip-border">
							<div class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">PARTICULIER</div>
							<ul class="flip-submenu dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">

								<!-- LIST ITEM MUTEULLE SANTE START-->
								<li>
									<%= link_to contrats_mutuelle_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("heart.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">Mutuelle Santé</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
									
									<ul class="submenu dropdown-menu">
										<li><%= link_to 'Individuelle', contrats_mutuelle_path, class: "dropdown-item" %>
										</li>
										<li><%= link_to 'Séniors', contrats_senior_path, class: "dropdown-item"  %>
										</li>
										<li><%= link_to 'Familiale', contrats_familiale_path, class: "dropdown-item"  %>
										</li>
										<li><%= link_to 'Etudiant', contrats_etudiants_path, class: "dropdown-item"  %>
										</li>
									</ul>
								</li>
								<!-- LIST ITEM MUTEULLE SANTE END-->

								<!-- LIST ITEM ASSURANCE PREVOYANCE START-->
								<li>
									<%= link_to contrats_assuranceprevoyance_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("insurance.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">Assurance Prévoyance</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
									
									<ul class="submenu dropdown-menu">
										<li><%= link_to 'Garantie décès', contrats_deces_path, class:"dropdown-item" %></li>
										<li><%= link_to 'Garantie obsèques', contrats_obseques_path, class:"dropdown-item" %></li>
										<li><%= link_to 'Garantie accidents de la vie', contrats_accidentsdelavie_path, class:"dropdown-item" %></li>
										<li><%= link_to 'Garantie dépendance', contrats_dependance_path, class:"dropdown-item" %></li>
									</ul>
								</li>
								<!-- LIST ITEM ASSURANCE PREVOYANCE END-->

							</ul>
						</li>

						<li class="nav-item dropdown flip-border">
							<div class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">PROFESSIONNEL</div>
							<ul class="flip-submenu dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">

								<!-- LIST ITEM START-->
								<li>
									<%= link_to contrats_TNS_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("shop.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">TNS Artisants Commerçants</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
									
									<ul class="submenu dropdown-menu left">
										<li><a class="dropdown-item" href=""> Complémentaire Santé</a></li>
										<li><a class="dropdown-item" href=""> Prévoyance</a></li>
										<li><a class="dropdown-item" href=""> Protection de l'activité</a></li>
									</ul>
								</li>
								<!-- LIST ITEM END-->

								<!-- LIST ITEM START-->
								<li>
									<%= link_to contrats_professionsliberales_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("employee.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">Profession libérale</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
									
									<ul class="submenu dropdown-menu left">
										<li><a class="dropdown-item" href=""> Complémentaire Santé</a></li>
										<li><a class="dropdown-item" href=""> Prévoyance</a></li>
										<li><a class="dropdown-item" href=""> Protection de l'activité</a></li>
									</ul>
								</li>
								<!-- LIST ITEM END-->

								<!-- LIST ITEM START-->
								<li>
									<%= link_to contrats_professionsmedicales_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("doctor.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">Profession Médicale</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
									
									<ul class="submenu dropdown-menu left">
										<li><a class="dropdown-item" href=""> Complémentaire Santé</a></li>
										<li><a class="dropdown-item" href=""> Prévoyance</a></li>
										<li><a class="dropdown-item" href=""> Protection de l'activité</a></li>
									</ul>
								</li>
								<!-- LIST ITEM END-->

								<!-- LIST ITEM START-->
								<li>
									<%= link_to contrats_personnescles_path, class:"dropdown-item list-group-item" do %>
										<div class="media d-flex align-items-center">
											<%= image_tag("team-management.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
											<div class="media-body ml-3">
												<h6 class="mb-1">Personnes clés de l'entreprise</h6>
												<p class="mb-0"></p>
											</div>
										</div>
									<% end %>						
								</li>
								<!-- LIST ITEM END-->

							</ul>
						</li>

					</ul>
				</div>
				<!-- navbar-collapse.// -->
			</div>
		</div>
		<!-- RIGHT SIDE OF NAVBAR WITH SLOGGANT -->
	</div>
</nav>