<!-- Main navbar -->
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
	<div class="container">
		<%= link_to image_tag("white.png", height: '50', alt: "white"), root_path, class: 'navbar-brand mr-lg-5' %>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbar-main-collapse">
			<ul class="navbar-nav flip-dropdown-menu">

				<li class="nav-item dropdown flip-border">
					<div class="nav-link dropdown-toggle btn btn-primary" href="#" data-toggle="dropdown">Particuliers</div>
					<ul class="flip-submenu dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">

						<!-- LIST ITEM MUTEULLE SANTE START-->
						<li>
							<%= link_to contrats_mutuelle_path, class:"dropdown-item list-group-item" do %>
								<div class="media d-flex align-items-center">
									<%= image_tag("medical.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
									<div class="media-body ml-3">
										<h6 class="mb-1">Mutuelle Santé</h6>
										<p class="mb-0"></p>
									</div>
								</div>
							<% end %>						
							
							<ul class="submenu dropdown-menu">
								<li><a class="dropdown-item" href=""> Individuelle</a></li>
								<li><a class="dropdown-item" href=""> Sénior</a></li>
								<li><a class="dropdown-item" href=""> Fémiliale</a></li>
								<li><a class="dropdown-item" href=""> Blabla</a></li>
							</ul>
						</li>
						<!-- LIST ITEM MUTEULLE SANTE END-->

						<!-- LIST ITEM ASSURANCE PREVOYANCE START-->
						<li>
							<%= link_to contrats_mutuelle_path, class:"dropdown-item list-group-item" do %>
								<div class="media d-flex align-items-center">
									<%= image_tag("privacy.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
									<div class="media-body ml-3">
										<h6 class="mb-1">Assurance Prévoyance</h6>
										<p class="mb-0"></p>
									</div>
								</div>
							<% end %>						
							
							<ul class="submenu dropdown-menu">
								<li><a class="dropdown-item" href=""> Individuelle</a></li>
								<li><a class="dropdown-item" href=""> Sénior</a></li>
								<li><a class="dropdown-item" href=""> Fémiliale</a></li>
								<li><a class="dropdown-item" href=""> Blabla</a></li>
							</ul>
						</li>
						<!-- LIST ITEM ASSURANCE PREVOYANCE END-->

					</ul>
				</li>

				<li class="nav-item dropdown flip-border">
					<div class="nav-link dropdown-toggle btn btn-primary" href="#" data-toggle="dropdown">Professionnels</div>
					<ul class="flip-submenu dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">

						<!-- LIST ITEM MUTEULLE SANTE START-->
						<li>
							<%= link_to contrats_mutuelle_path, class:"dropdown-item list-group-item" do %>
								<div class="media d-flex align-items-center">
									<%= image_tag("craftsman.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
									<div class="media-body ml-3">
										<h6 class="mb-1">Complémentaire Santé</h6>
										<p class="mb-0"></p>
									</div>
								</div>
							<% end %>						
							
							<ul class="submenu dropdown-menu">
								<li><a class="dropdown-item" href=""> Individuelle</a></li>
								<li><a class="dropdown-item" href=""> Sénior</a></li>
								<li><a class="dropdown-item" href=""> Fémiliale</a></li>
								<li><a class="dropdown-item" href=""> Blabla</a></li>
							</ul>
						</li>
						<!-- LIST ITEM MUTEULLE SANTE END-->

						<!-- LIST ITEM ASSURANCE PREVOYANCE START-->
						<li>
							<%= link_to contrats_mutuelle_path, class:"dropdown-item list-group-item" do %>
								<div class="media d-flex align-items-center">
									<%= image_tag("healthcare.svg", width: '50', alt: "Image placeholder", class: "img-saturate", style:"max-height: none;") %>
									<div class="media-body ml-3">
										<h6 class="mb-1">Prévoyance</h6>
										<p class="mb-0"></p>
									</div>
								</div>
							<% end %>						
							
							<ul class="submenu dropdown-menu">
								<li><a class="dropdown-item" href=""> Individuelle</a></li>
								<li><a class="dropdown-item" href=""> Sénior</a></li>
								<li><a class="dropdown-item" href=""> Fémiliale</a></li>
								<li><a class="dropdown-item" href=""> Blabla</a></li>
							</ul>
						</li>
						<!-- LIST ITEM ASSURANCE PREVOYANCE END-->

					</ul>
				</li>

				<li class="nav-item dropdown flip-border">
					<%= link_to 'Blog', blog_index_path, class:"nav-link btn btn-primary" %>
				</li>

			</ul>

		</div> <!-- navbar-collapse.// -->
	</div>
</nav>