<h1> <%= @firstname %> <%= @lastname %> vous fait une nouvelle demande de devis <h1>
<h2> Voici les informations le concernant </h2>


<p> Nom : <%= @firstname %></p>
<p> Prénom : <%= @lastname %></p>
<p> Date de naissance : <%= @birthday %></p>
<p> Ville : <%= @city %></p>
<p> email : <%= @email %></p>
<p> Téléphone : <%= @phone %></p>
<p> Date de début : <%= @begin %></p>
<p> Sex : <%= @gender %></p>
<p> Qui souhaitez-vous assurer ? <%= @forwho %></p>
<p> Informations complémentaires: <%= @informations %></p>