<section id="sct_page_examples" class="slice">
    <div class="container">
        <div class="fluid-paragraph text-center mt-5">
            <p><strong class="text-primary">La MPOSS</strong> est maintenant la mutuelle communale de la Mairie de Carbonne. N’hésitez pas à nous contacter pour une étude personnalisée
                Nous avons créé une nouvelle offre adaptée aux collectivités, découvrez les garanties GROUPEO !</p>
        </div>
        <div class="row">

            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="flip-card test">
                    <div class="flip-card-inner test">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("img-16.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100">
                                <div class="py-5 text-center">
                                    <%= image_tag("persons.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <a href="./pages/pages-account.html" class="btn btn-sm btn-dark btn-circle">Familles</a>
                                    <p class="mt-4 dark">Nos offres santé et prévoyance s’adaptent aux besoins de toutes les familles, petites ou grandes.
                                        <br>A partir de 68 €/mois.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("img-16.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100">
                                <div class="py-5 text-center">
                                    <%= image_tag("persons.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <a href="./pages/pages-account.html" class="btn btn-sm btn-dark btn-circle">Familles</a>
                                    <p class="mt-4 dark">Nos offres santé et prévoyance s’adaptent aux besoins de toutes les familles, petites ou grandes.
                                        <br>A partir de 68 €/mois.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("img-16.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100">
                                <div class="py-5 text-center">
                                    <%= image_tag("persons.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <a href="./pages/pages-account.html" class="btn btn-sm btn-dark btn-circle">Familles</a>
                                    <p class="mt-4 dark">Nos offres santé et prévoyance s’adaptent aux besoins de toutes les familles, petites ou grandes.
                                        <br>A partir de 68 €/mois.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("img-16.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100">
                                <div class="py-5 text-center">
                                    <%= image_tag("persons.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <a href="./pages/pages-account.html" class="btn btn-sm btn-dark btn-circle">Familles</a>
                                    <p class="mt-4 dark">Nos offres santé et prévoyance s’adaptent aux besoins de toutes les familles, petites ou grandes.
                                        <br>A partir de 68 €/mois.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>