<section id="sct_page_examples" class="slice">
    <div class="container">
        <div class="fluid-paragraph text-center mt-5">
            <p><strong class="text-primary"></strong></p>
        </div>
        <div class="row">
            <div class="col-lg-3 mt--150 mb-5 mb-lg-0">
                <div class="flip-card test">
                    <div class="flip-card-inner test">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("séniors.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100 bg-lighter">
                                <div class="py-5 text-center">
                                    <%= image_tag("security.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <%= link_to 'Mutuelles Séniors', contrats_senior_path, class:"btn btn-sm btn-dark btn-circle" %>
                                    <p class="mt-4 dark"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt--150 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("grey_dentaire.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100 bg-lighter">
                                <div class="py-5 text-center">
                                    <%= image_tag("teeth.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <%= link_to  'Mutuelles Dentaires', contrats_dentaire_path, class:"btn btn-sm btn-dark btn-circle" %>
                                    <p class="mt-4 dark"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt--150 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("grey_médecindouce.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100 bg-lighter">
                                <div class="py-5 text-center">
                                    <%= image_tag("homeopathy.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <%= link_to 'Médecine Douce', contrats_dentaire_path, class:"btn btn-sm btn-dark btn-circle" %>
                                    <p class="mt-4 dark"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 mt--150 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front d-flex align-items-center">
                            <%= image_tag("grey_TNS.jpg",alt: "Image placeholder", class:"img-thumbnail w-100 h-100") %>
                        </div>
                        <div class="flip-card-back">
                            <div class="card shadow animate-this h-100 bg-lighter">
                                <div class="py-5 text-center">
                                    <%= image_tag("craftsman.svg", width: '100', alt: "Image placeholder", class: "img-saturate") %>
                                </div>
                                <div class="px-4 pb-5 text-center">
                                    <%= link_to 'Mutuelle TNS', contrats_dentaire_path, class:"btn btn-sm btn-dark btn-circle" %>
                                    <p class="mt-4 dark"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>