<section class="slice">
    <div class="container">
        <div class="blurable--hover">
            <a href="#">
                <div class="row blurable-item">
                    <div class="col-lg-3 col-md-3 col-4 mb-4 mb-md-0">
                        <div class="px-4 py-4">
                            <%= image_tag("april-removebg-preview.png", alt: "Image placeholder", class: "img-fluid img-grayscale") %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-4 mb-4 mb-md-0">
                        <div class="px-4 py-4">
                            <%= image_tag("swisslife-removebg-preview.png", alt: "Image placeholder", class: "img-fluid img-grayscale") %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-4 mb-4 mb-md-0">
                        <div class="px-4 py-4">
                            <%= image_tag("alptis-removebg-preview.png", alt: "Image placeholder", class: "img-fluid img-grayscale") %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-4 mb-4 mb-md-0">
                        <div class="px-4 py-4">
                            <%= image_tag("sollyazar-removebg-preview.png", alt: "Image placeholder", class: "img-fluid img-grayscale") %>
                        </div>
                    </div>
                </div>
                <%= link_to 'Voir tous les partenaires', home_partenaires_path, class: "blurable-hidden btn btn-sm btn-info btn-circle" %>
            </a>
        </div>

    </div>
</section>