<main>
    <!-- Slider start -->
    <!-- <%= render 'home/slider' %> -->
    <!-- Slider end -->

    <!-- Banner start -->
    <%= render 'home/banner' %>
    <!-- Banner end -->

    <!-- Offers Cards start -->
    <%= render 'home/offerscards' %>
    <!-- Offers Cards end -->

    <!-- AddIns Cards start // navbar troubles web scrolling down on responsive-->
    <!-- <%= render 'home/addinscards' %> -->
    <!-- AddIns Cards end -->

    <!-- Values section start  // big navbar troubles web scrolling down on responsive-->
    <!-- <%= render 'home/valuessection' %> -->
    <!-- Values section end -->

    <!-- Sass command section start -->
    <%= render 'home/sasscommand' %>
    <!-- Sass command section end -->

    <!-- Features section start -->
    <%= render 'home/features' %>
    <!-- Features section start -->

    <!-- Pushing footer section start -->
    <br><br><br><br><br><br><br><br><br><br>
    <!-- Pushing footer section end -->
</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary footer-rotate' %>
