<main>
    <!-- Banner start -->
    <%= render 'home/banner' %>
    <!-- Banner end -->

    <!-- Offers Cards start -->
    <%= render 'home/offerscards' %>
    <!-- Offers Cards end -->

    <!-- Features section start -->
    <%= render 'home/features' %>
    <!-- Features section start -->

    <!-- LAST ARTICLES -->
    <%= render 'mag/lastarticles'%>
    <!-- LAST ARTICLES -->

    <!-- Partners section start  -->
    <%= render 'home/partners'%>
    <!-- Partners section start  -->

    <!-- Map section start  -->
    <%= render 'home/map'%>
    <!-- Map section start  -->

    <!-- LastButton section start  -->
    <%= render 'home/lastbutton'%>
    <!-- LastButton section start  -->

    <!-- Slider start -->
    <!-- <%= render 'home/slider' %> -->
    <!-- Slider end -->

    <!-- AddIns Cards start // navbar troubles web scrolling down on responsive-->
    <!-- <%= render 'home/addinscards' %> -->
    <!-- AddIns Cards end -->

    <!-- Sass command section start -->
    <!-- <%= render 'home/sasscommand' %> -->
    <!-- Sass command section end -->

    <!-- Pushing footer section start -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- Pushing footer section end -->
</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary footer-rotate' %>
