<main>
    <!-- Spotlight -->
    <% content_for :pagebanner_class, 'slice slice-xl opacity-6 particular-pagebanner-bg' %>
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-white">
        <div class="container">
            <div class="row row-grid align-items-center mt--100">
                <div class="col-lg-7">
                    <%= image_tag("april-removebg-preview.png", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>
                <div class="col-lg-5 ml-lg-auto">
                    <div class="pt-lg-lg pl-lg-5">
                        <h3 class="heading h3"></h3>
                        <p class="lead text-gray my-4">Créé en 1988, April est rapidement devenue une assurance incontournable dans le milieu de la santé.</p>
                        <a href="#" class="link font-weight-bold" data-link="1"></a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7 order-lg-2 ml-lg-auto">
                    <%= image_tag("swisslife-removebg-preview.png", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="pr-lg-5">
                        <h3 class="heading h3"></h3>
                        <p class="lead text-gray my-4">Assurance emblématique depuis 1857 dans la santé.</p>
                        <a href="#" class="link font-weight-bold" data-link="1"></a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7">
                    <%= image_tag("alptis-removebg-preview.png", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>
                <div class="col-lg-5 ml-lg-auto">
                    <div class="pt-lg-lg pl-lg-5">
                        <h3 class="heading h3"></h3>
                        <p class="lead text-gray my-4"></p>
                        <a href="#" class="link font-weight-bold" data-link="1"></a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7 order-lg-2 ml-lg-auto">
                    <%= image_tag("sollyazar-removebg-preview.png", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="pr-lg-5">
                        <h3 class="heading h3"></h3>
                        <p class="lead text-gray my-4">Depuis 1977, Solly Azar est un courtier grossiste en assurance santé</p>
                        <a href="#" class="link font-weight-bold" data-link="1"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>