<main>
    <!-- Spotlight -->
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-white">
        <div class="container">
            <div class="row row-grid align-items-center mt--100">
                <div class="col-lg-7">
                    <%= image_tag("brand-1", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 ml-lg-auto">
                    <div class="pt-lg-lg pl-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7 order-lg-2 ml-lg-auto">
                    <%= image_tag("brand-2", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 order-lg-1">
                    <div class="pr-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7">
                    <%= image_tag("brand-3", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 ml-lg-auto">
                    <div class="pt-lg-lg pl-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7 order-lg-2 ml-lg-auto">
                    <%= image_tag("brand-4", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 order-lg-1">
                    <div class="pr-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7">
                    <%= image_tag("brand-5", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 ml-lg-auto">
                    <div class="pt-lg-lg pl-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="row row-grid align-items-center">
                <div class="col-lg-7 order-lg-2 ml-lg-auto">
                    <%= image_tag("brand-6", alt: "Image placeholder", class: "img-center img-fluid rounded shadow") %>
                </div>

                <div class="col-lg-5 order-lg-1">
                    <div class="pr-lg-5">
                        <h3 class="heading h3">We are 100% involved</h3>
                        <p class="lead text-gray my-4">With Boomerang you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        <a href="#" class="link font-weight-bold" data-link="1">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>