<!-- Purpose-website-ui-kit-v1.1.3/pages/careers-single.html -->
<main>
    <!-- Spotlight -->
    <%= render "contrats/pagebanner", page_title: @title %>

    <section class="slice slice-lg bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card shadow mt--200">
                        <div class="card-body px-lg-5 py-lg-5">
                            <p>Un devis mutuelle santé est un document qui détail de nombreuses informations présenté à l’assuré avant toute exécution du
                            contrat complémentaire santé,il est gratuit et sans engagement.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les critères avant de souscrire une mutuelle santé</h4>
                            <p>Avant de faire un devis, il est important d’analyser tous les besoins en santé. Chaque profil est différent et ne demandera forcement pas les mêmes garanties.
                            Un senior aura peut-être besoin d’une couverture santé renforcée alors qu’un étudiant lui aura juste besoin d’une
                            <%= link_to 'mutuelle étudiante', contrats_etudiants_path %> classique.</p>
                            <p>Il est important de faire le point pour trouver la mutuelle santé la plus adaptée pour répondre au mieux à toutes
                            vos besoins mais aussi pour ne pas dépenser des frais inutiles.</p>
                            <p>Il est nécessaire parfois de faire un bilan santé chez un médecin ou spécialiste (dentiste par exemple) pour bien
                            connaitre ses besoins afin de souscrire la meilleure mutuelle.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les informations qui doivent apparaitre sur le devis</h4>
                            <p>Il doit apparaitre certaines informations sur le devis comme :</p>
                            <ul>
                                <li>Niveaux de garanties ;</li>
                                <li>Détail des besoins et informations ;</li>
                                <li>Coordonnés du mutualiste ;</li>
                                <li>Montant total des cotisations ;</li>
                                <li>Fais de dossier et de gestion...</li>
                            </ul>
                            <p>Contrairement à une assurance auto et habitation, une mutuelle santé n’aura pas de franchise sauf en cas de franchise médicale pour certains cas bien spécifiques.</p>
                            <p>Une fois le devis réalisé, l’assureur s’engage à respecter les conditions sur le devis et donc le montant des cotisations jusqu’à la signature de futur assuré.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Les informations que vous devez fournir</h4>
                            <p>Pour réaliser un devis conforme, il est nécessaire de fournir des informations comme les coordonnées, son régime d’affiliation
                            (régime des TNS, régime général...) le nombres de personnes à assurer...</p>
                            <p>Ensuite il vous faudra définir chaque poste de santé, dentaire, optique, audiologie, soins médicaux... 
                            pour bien clarifier le niveau de garanties et de remboursements.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Le montant d’une mutuelle santé</h4>
                            <p>Le prix d’une mutuelle santé varie en fonction de pleins de critères, l’âge, la zone géographique, le régime d’affiliation,
                            le sexe, le statut professionnel</p>
                            <p>Les prix peuvent varier énormément selon le profil et l’âge allant pour un étudiant en moyenne à 400 euros jusqu’à 1000 pour
                            un retraité. Cela reste une moyenne, selon les garanties souhaitées, ce montant peut varier énormément.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Comment résilier sa mutuelle santé ?</h4>
                            <p>A partir du 1er décembre 2020, sous la loi Hamon vous pourrez <%= link_to 'résilier', contrats_resiliation_path %> votre mutuelle
                            santé sans motifs. Pour l’instant, jusqu’au changement la loi Chatel ne le permet sauf sous certaines réserves.</p>
                        </div>
                    </div>
                    <div class="card shadow mt-5">
                        <div class="card-body px-lg-5 py-lg-5">
                            <h4 class="mb-4">Pourquoi choisir LHEL pour trouver son devis ?</h4>
                            <p>Tout simplement, LHEL en tant que spécialiste des mutuelles santé comparera et vous évitera les nombreux pièges, comme le tiers payant qui
                            permet de bénéficier d’un remboursement immédiat ou encore les garanties et les remboursements qui doivent être bien stipulés sur le contrat de votre
                            <%= link_to 'complémentaire santé', contrats_complementaire_path %>.</p>
                            <p>Le cabinet LHEL est impartial et gratuit, nous voulons créer une relation de confiance sur la durée, pour cela nous misons sur la qualité
                            de notre travail et notre expérience. Votre dossier sera suivi de A à Z, et même bien plus, car nous prendrons régulièrement de vos nouvelles (1 à 2 fois) au cours de l’année.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->
    <%= render 'contrats/calltoaction'%>

</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>