<main>
    <!-- MULTISTEP FORM START-->
    <section class="container-fluid bg-primary" id="grad1">
        <br><br><br><br><br><br><br><br>
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>Formulaire de demande</strong></h2>
                    <p>Suivez les étapes ci-dessous</p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <!-- <form id="msform"> -->
                            <%= form_with :html => { :id => "msform" } do |f| %>
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active fas fa-user-circle col-4" id="account"><strong>Coordonnées</strong></li>
                                    <li class="fas fa-cog col-4" id="personal"><strong>Informations</strong></li>
                                    <!-- <li class="far fa-sliders-h" id="payment"><strong>Besoins</strong></li> -->
                                    <li class="fas fa-check-circle col-4" id="confirm"><strong>Terminé</strong></li>
                                </ul>

                                <!-- FIELDSETS -->
                                <fieldset>
                                    <!-- COORDONNEES -->
                                    <div class="form-card mx-3">
                                        <div class="page-inner-header mb-4">
                                            <h2 class="fs-title">Vos Coordonnées</h2>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                        <div class="row mx-1">
                                            <div class="col-md-4 custom-control custom-radio mb-3">
                                                <%= f.radio_button "custom-radio-1", "Madame", :id=>"customRadio1", :class=>"custom-control-input" %>
                                                <label class="custom-control-label" for="customRadio1">Madame</label>
                                            </div>
                                            <div class="col-md-4 custom-control custom-radio mb-3">
                                                <%= f.radio_button "custom-radio-1", "Monsieur", :id=>"customRadio2", :class=>"custom-control-input" %>
                                                <label class="custom-control-label" for="customRadio2">Monsieur</label>
                                            </div>
                                            <div class="col-md-4 custom-control custom-radio mb-3">
                                                <%= f.radio_button "custom-radio-1", "Autre", :id=>"customRadio3", :class=>"custom-control-input" %>
                                                <label class="custom-control-label" for="customRadio3">Autre</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Prénom</label>
                                                    <%= f.text_field "Prénom", placeholder: 'Saisissez votre prénom', :class=>"form-control" %>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Nom</label>
                                                    <%= f.text_field "Nom", placeholder: 'Et votre nom', :class=>"form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Date anniversaire</label>
                                                    <%= f.text_field "Anniversaire", { :class => 'form-control', 'data-toggle' => 'date', 'placeholder' => 'Selectionnez votre date anniversaire'} %>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Ville</label>
                                                    <%= f.text_field "Ville", class: "form-control", placeholder: "Votre ville" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Email</label>
                                                    <%= f.email_field "email", class: "form-control", placeholder: "nomprénom@exemple.com" %>
                                                    <small class="form-text text-muted mt-2">Nous vous contacterons à cette adresse pour la suite du traitement de votre dossier. Merci de vérifier l'exactitude de votre adresse</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Téléphone</label>
                                                    <%= f.text_field "téléphone", class: "form-control", placeholder: "+33 6 36 65 65 65" %>
                                                    <small class="form-text text-muted mt-2">Nous vous contacterons sur ce numéro de téléphone pour la suite du traitement de votre dossier. Merci de vérifier l'exactitude de votre numéro</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <input type="button" name="next" class="next action-button btn btn-success btn-circle btn-translate--hover px-4" value="Suivant" />
                                    <!-- COORDONNEES -->
                                </fieldset>

                                <fieldset>
                                    <!-- INFORMATIONS SUR LE CONTRAT -->
                                    <div class="form-card mx-3">
                                        <div class="page-inner-header mb-4">
                                            <h2 class="fs-title">Informations personnelles</h2>
                                            <p class="text-muted mb-0">Dites nous en plus sur votre situation et vos envies</p>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Type de contrat</label>
                                                    <%= select_tag "Type", raw("<option>Ce que vous recherchez</option>
                                                            <option>Mutuelle Santé</option>
                                                            <option>Assurance Obsèques</option>
                                                            <option>Garantie accident de la vie</option>
                                                            <option>Assurance décès</option>
                                                            <option>Assurance animaux</option>
                                                            <option>Autres assurances</option>"),
                                                        multiple: true, class: 'form-control form-control-sm' %>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Régime sociale</label>

                                                    <%= select_tag "Régime", raw("<option>Salarié du privé</option>
                                                            <option>Salarié du public</option>
                                                            <option>Profession libérale</option>
                                                            <option>Agriculteur</option>
                                                            <option>Chef d'entreprise</option>
                                                            <option>Artisant/Commerçant</option>
                                                            <option>Intermittent</option>
                                                            <option>Retraité</option>
                                                            <option>Sans profession</option>
                                                            <option>Autre</option>"),
                                                        multiple: true, class: 'form-control form-control-sm' %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <%= f.text_field "Début", { :class => 'form-control', 'data-toggle' => 'date', 'placeholder' => 'Quand souhaitez-vous que votre contrat débute ?'} %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Qui souhaitez-vous assurer ?</label>
                                                    <div class="custom-control custom-radio mb-3">
                                                        <%= f.radio_button "custom-radio-2", "Vous", :id=>"customRadio4", :class=>"custom-control-input" %>
                                                        <label class="custom-control-label" for="customRadio4">Vous</label>
                                                    </div>
                                                    <div class="custom-control custom-radio mb-3">
                                                        <%= f.radio_button "custom-radio-2", "Vous et votre conjoint", :id=>"customRadio5", :class=>"custom-control-input" %>
                                                        <label class="custom-control-label" for="customRadio5">Vous et votre conjoint</label>
                                                    </div>
                                                    <div class="custom-control custom-radio mb-3">
                                                        <%= f.radio_button "custom-radio-2", "Vous et votre famille", :id=>"customRadio6", :class=>"custom-control-input" %>
                                                        <label class="custom-control-label" for="customRadio6">Vous et votre famille</label>
                                                    </div>
                                                    <div class="custom-control custom-radio mb-3">
                                                        <%= f.radio_button "custom-radio-2", "Vous et vos enfants", :id=>"customRadio7", :class=>"custom-control-input" %>
                                                        <label class="custom-control-label" for="customRadio7">Vous et vos enfants</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- INFORMATIONS SUR LES OPTIONS -->
                                        <div class="page-inner-header mb-4">
                                            <h2 class="fs-title">Informations complémentaires</h2>
                                            <p class="text-muted mb-0">Vous pouvez ajouter un paragrpahe ci-dessous pour nous donner des informations que vous trouvez pertinentes.</p>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label class="form-control-label">Informations</label>
                                                        <textarea class="form-control" placeholder="Écrivez votre paragraphe ici" rows="3"></textarea>
                                                        <small class="form-text text-muted mt-2"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous btn btn-warning btn-circle btn-translate--hover px-4" value="Précédent" />
                                    <%= f.submit 'Valider', :class=>"next action-button btn btn-success btn-circle btn-translate--hover px-4" %>
                                    <!-- <input type="button" name="make_payment" class="next action-button btn btn-success btn-circle btn-translate--hover px-4" value="Valider" /> -->
                                </fieldset>

                                <fieldset>
                                <!-- REMERCIEMENTS -->
                                    <div class="form-card">
                                        <h2 class="fs-title text-center">Merci !</h2> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-3">
                                                <%= image_tag("approval", alt: "Image placeholder", class:"fit-image") %>   
                                            </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5>Nous avons toutes les informations nécessaires, nous vous répondrons rapidement :)</h5>
                                            </div>
                                        </div>
                                    </div>
                                <!-- REMERCIEMENTS -->
                                </fieldset>

                            <!-- </form> -->
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </section>
    <!-- MULTISTEP FORM END-->

    <!-- LITTLE VALUES BANNER START-->
    <section class="pt-3 pb-3 bg-primary delimiter-top">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <i class="fa fa-clock-o"><span><strong>     3 minutes</strong></span></i>
                </div>
                <div class="col text-center">
                    <i class="fa fa-calculator"><span><strong>     Étude Gratuite</strong></span></i>
                </div>
                <div class="col text-center">
                    <i class="fa fa-search"><span><strong>     Accompagnement Expert</strong></span></i>
                </div>
                <div class="col text-center">
                    <i class="fa fa-user"><span><strong>     Devis Personnalisé</strong></span></i>
                </div>
            </div>
        </div>
    </section>
    <!-- LITTLE VALUES BANNER END-->
</main>
<% content_for :footer_class, 'footer footer-dark bg-gradient-primary' %>