
<main>

    <section class="spotlight bg-cover bg-size--cover flip-banner" data-spotlight="fullscreen">
        <div class="spotlight-holder">
            <span class="mask bg-gradient-primary opacity-6"></span>
            <div class="container py-md d-flex align-items-center pt-lg">
                <div class="col pt-md pt-lg-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-7 text-center">
                            <h1 class="text-white lh-150 mb-4">Restez informés et suivez les actualités</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item text-white">Restez informés</li>
                                <li class="list-inline-item text-white"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice slice-lg bg-secondary">
        <div class="container">
            <div class="row row-grid">
                <div class="col-lg-4">
                    <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-1-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-2-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-3-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
            <div class="row row-grid">
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-4-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-5-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-6-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
            <div class="row row-grid">
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-1-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-1-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
                <div class="col-lg-4">
                <%= link_to blog_article_path do %>
                    <div class="card shadow-sm shadow--hover">
                        <%= image_tag("img-3-800x600.jpg", alt: "Image placeholder", class:"card-img-top") %>
                        <div class="card-body py-5 text-center">
                            <h5 class="lh-150">Choose the best solution for your business</h5>
                            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item pr-4">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
            <!-- Load more -->
            <div class="mt-lg text-center">
                <a href="#" class="btn btn-dark btn-circle shadow">Load more</a>
            </div>
        </div>
    </section>

</main>